.flex-container {
  display: flex;
}

.flex-container div {
  background: peachpuff;
  border: 4px solid brown;
  height: 100px;
  width: 300px;
  flex: 1 1 0%;
}

.flex-container .two {
  flex-shrink: 0;
}