html,
body {
  height: 100%;
}

.content {
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-form {
  height: 70%;
  width: 60vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(15, 1fr);
}

#main-form > label {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-bottom: 0.4rem;
}

/* Email */
#email:valid {
  border: 3px solid green;
  outline: none;
}
/* #email:invalid {
  outline: 3px solid rgb(218, 178, 0);
} */

/* Postal Code */
#postal:valid {
  border: 3px solid green;
  outline: none;
}
