.container {
  background-color: rgb(0, 0, 25);
  height: 100vh;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}

.nav1 {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
}
.nav1 > .title {
  margin-left: 2rem;
}
.nav1 > .right-nav {
  margin-right: 2rem;
  display: flex;
  width: 20rem;
  justify-content: space-between;
}

/* Dropdown */
.category-drop {
  display: none;
}
.category-drop > li > a {
  text-decoration: none;
  color: black;
}
.visible-cate-drop {
  background-color: white;
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  right: 7.5rem;
}
