div#header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: maroon;
}
div#header h2 {
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  margin-left: 3%;
}
p#intro {
  font-family: George, Times, serif;
  font-size: 1.2em;
  margin-top: 20%;
}